{%extends 'base.html'%}
{%block content%}
<div class="container">
    
    <form>
        <h1>Ajouter un Eleve</h1>
        <div class="form-group">
            <input type="text" id="firstname" name="firstname" placeholder="Nom de l'élève" >
        </div>
        <div class="form-group">
            <input type="text" id="lastname" name="lastname" placeholder="prenom de l'élève" >
        </div>
        <div class="form-group" style="display: flex; text-align: center;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" >
            <label class="form-check-label" for="flexRadioDefault1">
              Femme</label>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" >
            <label class="form-check-label" for="flexRadioDefault1">
                Homme
            </label>

          </div>
          <div class="form-group">
            <input type="text" id="matricule" name="matricule" placeholder="matricule">
        </div>
        <div class="form-group-right">
            <input type="date" id="firstname" name="date"  placeholder=" / / ">
        </div>
    </form>
    <section style="float: right;">
        <div class="form-group-right">
            <select id="classe" name="classe" style="width: 100%;    /* Largeur flexible */
            max-width: 300px; /* Largeur maximale de 300px */ margin-bottom: 120px; margin-top: 85px;
            border: 3.5px solid #0c0c0c; padding: 10px;
            border-radius: 4px;">
                <option value="other">selectionner la classe</option>
                <option value="male">Tle</option>
                <option value="female">1 ere</option>
                <option value="other">2 nde</option>
                <option value="male">3 eme</option>
                <option value="female">4 eme</option>
                <option value="other">5 eme</option>
                <option value="other">6 eme</option>
            </select>
        </div>
        <div class="form-group-right">
            <input type="text" id="firstname" name="firstname" placeholder="0123456789" >
        </div>
        <div class="form-group">
            <input type="text" id="lastname" name="lastname" placeholder="Dabou" >
        </div>
    </section>
<button type="submit">Annuler</button>
<button type="reset">Enregistrer</button>    
       
</div>
{%endblock%}
