{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        button {
            padding: 5px 10px;
            border: 20px;
            border-radius: 5px;
            color: #fff;
            background-color: #b40101;
            cursor: pointer;
            font-size: 16px;
            border: 3.5px solid #0c0c0c;
            width: 100%;    /* Largeur flexible */
            max-width: 300px; /* Largeur maximale de 300px */
            margin-bottom: 120px; 
            
            
        }
        button[type="reset"] {
            background-color: #08b433;
            margin-right: 300px;
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            border: 3.5px solid #0c0c0c;
            width: 100%;    /* Largeur flexible */
            max-width: 300px; /* Largeur maximale de 300px */
            margin-bottom: 120px; 
           
           
        }
        
        button:hover {
            opacity: 0.9;}
    </style>
    <div class="form-group-right">
        <select id="classe" name="classe" style="width: 100%;    /* Largeur flexible */
        max-width: 300px; /* Largeur maximale de 300px */ margin-bottom: 120px; margin-top: 85px;
        border: 3.5px solid #0c0c0c; padding: 10px;
        border-radius: 4px;">
            <option value="other">selectionner une option</option>
            <option value="male">listes des Eleves</option>
            <option value="female">Listes des Professeurs</option>
            <option value="other">Listes des Utilisateurs</option>
           
        </select>
    </div>
    <div class="btn">
        <button type="submit" name="formatPDF" class="annuler">generer format pdf</button>
        <button type="submit" name="formatEXCEL" class="inscrire">generer format excel</button>
    </div>
{% endblock %}